<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.gim.monitor.dao.AlertDao">
	<resultMap id="alert" type="com.asiainfo.gim.monitor.domain.Alert">
		<result property="id" column="id" />
		<result property="time" column="time" />
		<result property="targetType" column="target_type" />
		<result property="targetId" column="target_id" />
		<result property="level" column="level" />
		<result property="description" column="description" />
		<result property="status" column="status" />
		<result property="source" column="source" />
		<result property="configId" column="config_id" />
		<result property="properties" column="properties" javaType="java.util.Map" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="insertAlert" parameterType="com.asiainfo.gim.monitor.domain.Alert">
		insert into monitor_alert (id, time, target_type, target_id, level, description, status, source, config_id, properties) 
			values (#{id}, #{time}, #{targetType}, #{targetId}, #{level}, #{description}, #{status}, #{source}, #{configId}, #{properties, jdbcType=VARCHAR})
	</insert>

	<select id="listAlerts" resultMap="alert" parameterType="com.asiainfo.gim.monitor.domain.query.AlertQueryParam">
		select * from monitor_alert
		<where>
			<if test="targetType != null">
				target_type = #{targetType}
			</if>
			<if test="targetId != null">
				and target_id = #{targetId}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="configId != null">
				and config_id = #{configId}
			</if>
			<if test="source != null">
				and source = #{source}
			</if>
			<if test="startTime != null and endTime != null">
				and time between #{startTime} and #{endTime}
			</if>
			<if test="startTime != null and endTime == null">
				and time &lt; #{startTime}
			</if>
			<if test="startTime == null and endTime != null">
				and time &gt; #{endTime}
			</if>
		</where>
	</select>

	<select id="findAlertById" resultMap="alert" parameterType="java.lang.String">
		select * from monitor_alert where id = #{id}
	</select>

	<update id="updateAlert" parameterType="com.asiainfo.gim.monitor.domain.Alert">
		update monitor_alert set time = #{time}, level = #{level}, description = #{description}, 
			status = #{status} where id = #{id}
	</update>

	<delete id="deleteAlert" parameterType="java.lang.String">
		delete from monitor_alert
		where id = #{id}
	</delete>

</mapper>