<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.gim.monitor.dao.CpuSpeedDao">
	<resultMap id="metric" type="com.asiainfo.gim.monitor.entity.Metric">
		<result property="ip" column="ip"/>
		<result property="value" column="value" javaType="java.lang.Float" jdbcType="FLOAT"/>
		<result property="unit" column="unit"/>
		<result property="time" column="time" />
	</resultMap>

	<insert id="insertCpuSpeed" parameterType="com.asiainfo.gim.monitor.entity.Metric">
		insert into monitor_cpu_speed(ip, value, unit, time)
		value(#{ip}, #{value, javaType=java.lang.Float, jdbcType=FLOAT}, #{unit}, #{time});
	</insert>
	
	<select id="listCpuSpeed" resultMap="metric"
		parameterType="com.asiainfo.gim.monitor.domain.query.MetricQueryParam">
		select * from monitor_cpu_speed  
		<where>
			<if test="ip != null">
				ip = #{ip}
			</if>
			<if test="!(startTime == null || endTime == null)">
				and time between #{startTime} and #{endTime}
			</if>
		</where>
		order by time
	</select>
</mapper>