<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.gim.monitor.dao.ProcRunDao">
	<resultMap id="metric" type="com.asiainfo.gim.monitor.entity.Metric">
		<result property="ip" column="ip"/>
		<result property="value" column="value" javaType="java.lang.Float" jdbcType="FLOAT"/>
		<result property="unit" column="unit"/>
		<result property="time" column="time" />
	</resultMap>

	<insert id="insertProcRun" parameterType="com.asiainfo.gim.monitor.entity.Metric">
		insert into monitor_proc_run(ip, value, unit, time)
		value(#{ip}, #{value, javaType=java.lang.Float, jdbcType=FLOAT}, #{unit}, #{time});
	</insert>
	
</mapper>